#seatsA{width: 120px;}
#seatA1{width: 120px;}
#seatA9{background: #9E5C3B;}

#seatA12{background: #9E5C3B;}
#seatA11{background: #9E5C3B;}

#seatA1{background: #9E5C3B;}
#seatA10{background: #9E5C3B;}

#seatA2{background: #9E5C3B;}
#seatA9{background: #9E5C3B;}

.seatAspace1{background:none; border:none; width:28px;}
.seatAspace2{background:none; border:none; width:29px;}

#seatA3{background: #9E5C3B;}
#seatA8{background: #9E5C3B;}

#seatA4{background: #9E5C3B;}
#seatA7{background: #9E5C3B;}

#seatA5{background: #9E5C3B;}
#seatA6{background: #9E5C3B;}

#seatA6{width: 270px;}

#seatE18{background: #9E5C3B;}
#seatE17{background: #9E5C3B;}
#seatE16{background: #9E5C3B;}
#seatE15{background: #9E5C3B;}

#seatE14{background: #9E5C3B;}
#seatE13{background: #9E5C3B;}
#seatE1{background: #9E5C3B;}

#seatE12{background: #9E5C3B;}
#seatE2{background: #9E5C3B;}
#seatE11{background: #9E5C3B;}

#seatE3{background: #9E5C3B;}
#seatE10{background: #9E5C3B;}
#seatE4{background: #9E5C3B;}

#seatE5{background: #9E5C3B;}
#seatE6{background: #9E5C3B;}
#seatE7{background: #9E5C3B;}

#seatE8{background: #9E5C3B;}
#seatE9{background: #9E5C3B;}